<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Upload file</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--form for people to submit an images from their computer-->
        <form method = "POST" enctype="multipart/form-data">
            <input type= "file" name="file">
            <input type="submit" value="submit">
        </form>
    </body>
</html>